@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body, #root {
  margin: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  background-color: rgb(8, 18, 51);
}

#notificationButton {
  width: 0px;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  border-radius: 100%;
  border: 1vmin solid transparent;
  background-color: rgba(0, 0, 0, 0.2);
  width: 30%;
  height: 30%;
}

.chessBoard .chessSquare {
  width: 10vmin;
  height: 10vmin;
  max-width: 10vmin;
  max-height: 10vmin;
  border: 1vmin solid transparent;
  color: gray;
  background-color: #76a2a3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 0.08s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.chessBoard .chessSquare .number-left {
  position: absolute;
  padding-top: 7vmin;
  padding-right: 8vmin;
  font-size: 1.5vmin;
  font-weight: 900;
  color: black;
  margin: 0.5vmin;
}
.chessBoard .chessSquare .number-right {
  position: absolute;
  padding-top: 7vmin;
  padding-left: 8vmin;
  font-size: 1.5vmin;
  font-weight: 900;
  color: black;
  margin: 0.5vmin;
}

.hovered {
  border-color: white !important;
}

.chessBoard {
  max-width: 100%;
  display: grid;
  border-radius: 5%;
  grid-template-columns: repeat(8, 12.5%);
  gap: 0px;
  border: 1px solid black;
}

.piece {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./allPieces.svg);
  /* background-size: 60vw; */
  background-size: 600%;
  background-position-y: 100%;
  background-repeat: no-repeat;
  width: calc(100% + 2vh);
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.piece .circle {
  position: absolute;
  border-color: rgba(0, 0, 0, 0.2);
  width: 120%;
  height: 120%;
  background-color: transparent;
}

.k {
  background-position-x: 0%;
}

.r {
  background-position-x: 80%;
}

.q {
  background-position-x: 20%;
}

.p {
  background-position-x: 100%;
}

.b {
  background-position-x: 40%;
}

.n {
  background-position-x: 60%;
}

.K {
  background-position-x: 0%;
  background-position-y: 0%;
}

.R {
  background-position-x: 80%;
  background-position-y: 0%;
}

.Q {
  background-position-x: 20%;
  background-position-y: 0%;
}

.P {
  background-position-x: 100%;
  background-position-y: 0%;
}

.B {
  background-position-x: 40%;
  background-position-y: 0%;
}

.N {
  background-position-x: 60%;
  background-position-y: 0%;
}

.chessBoard .lighterBackground {
  background-color: #b6e4b6;
}

.chessInlay {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 10vmin;
  height: 40vmin;
  max-width: 10vmin;
  max-height: 40vmin;
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 10;
}
.chessInlay .chessInlaySquare {
  display: flex;
  width: 10vmin;
  height: 10vmin;
  max-width: 10vmin;
  max-height: 10vmin;
  background-color: white;
  border: 1vmin solid transparent;
}

.modal-content {
  width: 60vmin !important;
  height: 20vmin !important;
  min-width: 100%;
  min-height: 100%;
}
.modal-content .modal-header {
  background-color: #76a2a3;
}
.modal-content .modal-body, .modal-content .modal-footer {
  background-color: #91c2c3;
}

.ml-\[1\] {
  margin-left: 10vmin;
}

.ml-\[2\] {
  margin-left: 20vmin;
}

.ml-\[3\] {
  margin-left: 30vmin;
}

.ml-\[4\] {
  margin-left: 40vmin;
}

.ml-\[5\] {
  margin-left: 50vmin;
}

.ml-\[6\] {
  margin-left: 60vmin;
}

.ml-\[7\] {
  margin-left: 70vmin;
}

.notDraggable {
  pointer-events: none;
}

.lastMove {
  background-color: #98cd4e !important;
}
.lastMove.lighterBackground {
  background-color: #96da5b !important;
}

.glassOverlay {
  position: absolute;
  width: 90vmin;
  height: 90vmin;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.205);
  border-radius: 10%;
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.glassOverlay .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  z-index: 500;
  border: 2px solid black;
  border-bottom: 0px;
  border-radius: 5px;
  padding-left: 0px !important;
}
.glassOverlay .list .listItem {
  display: inline-flex;
  padding: 1vmin;
  padding-left: 3vmin;
  border-bottom: 2px solid black;
  border-radius: 5px;
  font-weight: 600;
  justify-content: start;
  align-items: center;
  font-size: 5vmin;
}
.glassOverlay .list .listItem:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.205);
}
.glassOverlay .list .listItem .text {
  margin-left: 2vmin;
  width: 40%;
  min-width: fit-content;
}
.glassOverlay .list .listItem .catLogo {
  width: 10vmin;
  height: 10vmin;
  margin-right: 3vmin;
  margin-left: 2vmin;
  background-size: cover;
  border-radius: 50%;
  outline: 3px solid white;
}
.glassOverlay .list .listItem button {
  color: rgba(255, 127, 7, 0.592);
  margin-left: 6%;
}
.glassOverlay .list #mainUser {
  background-color: rgba(79, 255, 229, 0.451);
}
.glassOverlay .submitUsernameButton {
  position: absolute;
  display: flex;
  margin-top: 30vmin;
  width: 40vmin;
  height: 8vmin;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(142, 54, 54, 0.66), -5px -5px 10px hsla(0, 75%, 75%, 0.66);
  color: rgba(0, 0, 0, 0.642);
  font-weight: 600;
  font-size: 5vmin;
  letter-spacing: 0.05em;
  background-color: rgba(234, 89, 89, 0.664);
  font-family: "Roboto", sans-serif;
  font-size: 5vmin;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.glassOverlay .submitUsernameButton:hover {
  box-shadow: inset 5px 5px 10px rgba(142, 54, 54, 0.66), inset -5px -5px 10px hsla(0, 75%, 75%, 0.66);
  cursor: pointer;
}
.glassOverlay .submitUsernameButton .arrow {
  margin-left: 10px;
  height: 8vmin;
}
.glassOverlay label {
  position: absolute;
  margin-bottom: 28vmin;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.642);
  font-weight: 600;
  font-size: 5vmin;
  letter-spacing: 0.05em;
  width: 100;
}
.glassOverlay .userNameInput {
  display: flex;
  width: 50vmin;
  align-items: center;
  font-size: 3vmin;
  justify-content: center;
  height: 8vmin;
  border: none;
  border: black 2px solid;
  border-radius: 10px;
  background-color: transparent;
  padding: 2vmin;
  transition: 0.1s;
}
.glassOverlay .userNameInput:focus-within {
  outline: 2px solid white;
}
.glassOverlay .userNameInput input {
  margin: none;
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 5px;
}
.glassOverlay .userNameInput input::placeholder {
  color: rgba(0, 0, 0, 0.642);
}
.glassOverlay .userNameInput input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.642);
}
.glassOverlay .userNameInput input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.642);
}
.glassOverlay .userNameInput input::-ms-placeholder {
  color: rgba(0, 0, 0, 0.642);
}
.glassOverlay .userNameInput input:focus {
  outline: none;
}
.glassOverlay .userNameInput:hover {
  background-color: rgba(255, 255, 255, 0.205);
  cursor: pointer;
}

section {
  touch-action: none;
}

.bellContainer {
  position: absolute;
  width: 90vmin;
  height: 90vmin;
}
.bellContainer .bellIcon {
  margin: 10px;
  padding: 1vmin;
  border-radius: 50%;
  top: 10vmin;
  left: 10vmin;
  z-index: 1000;
}
.bellContainer .dropdown {
  padding: 5vmin;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1000;
  display: flex;
  width: 30vmin;
  height: 100%;
  justify-content: start;
  align-items: center;
}
.bellContainer .dropdown .dropdown-menu {
  position: relative;
  width: fit-content;
  margin-left: 10%;
}
.bellContainer .dropdown .dropdown-item:active {
  background-color: #d3e8ff !important;
  color: white;
}
.bellContainer .dropdown .notificationText {
  display: inline-flex !important;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #f8f8f8; /* Light background color */
  padding: 5px;
  display: block;
}
.bellContainer .dropdown .notificationText .username {
  font-weight: bold;
  color: #007bff;
}
.bellContainer .dropdown .notification-text::before {
  content: "🔔"; /* Add an icon or indicator */
  margin-right: 5px;
}
.bellContainer .dropdown .notification-text:hover {
  color: #007bff; /* Change color on hover */
  cursor: pointer;
}
.bellContainer .dropdown .notification-text:active {
  background-color: #007bff;
  color: white;
}
.bellContainer .bellIcon:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.205);
  transition: all 0.2s ease-in-out;
}/*# sourceMappingURL=style.css.map */