// #root, body, html{
//     width: 100%;
//     height: 100%;
//     margin: 0px;
//     border: 0px;
//     padding: 0px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     overflow: hidden;
// }



*{margin: 0px; padding:0px}

html{
    width: 100%;
    height: 100%;
}



body{
    display: block;
    -webkit-locale: "en";
    margin: -4px;
    width: 100%;
    height: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app{
    width: 100% !important;
    height: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
}


.circle{
    border-radius: 100%;
    border: 1vh solid transparent;
    background-color: rgb(0, 0, 0, .2);
    width: calc(20%);
    height: calc(20%);
}

.chessBoardContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    max-width: 100vmin;
    overflow: 0px;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.piece{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./allPieces.svg);
    /* background-size: 60vw; */
    background-size: 600% ;
    background-position-y: 100% ;
    background-repeat: no-repeat;
    width: calc(100% + 2vh);
    height: 100%;
    margin: 0px;
    padding: 0px;

    // border: .4vh solid transparent;
    // width: 10vh;
    // height: 10vh;
    // max-width: 10vw;
    // max-height: 10vw;
    .circle{
        position: absolute;
        border-color:  rgb(0, 0, 0, .2);
        width: calc(100%);
        height: calc(100%);
        background-color: transparent;
    }

}


.king{
    background-position-x: 0%;
}
.rook{
    background-position-x: 80%;
}
.queen{
    background-position-x: 20%;
}

.pawn{
    background-position-x: 100%;
}

.bishop{
    background-position-x: 40%;
}

.knight{
    background-position-x: 60%;
}

.white{
    background-position-y: 0% ;
}



.drag{
    background-color: transparent;
}
 
 
.chessBoard{

    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(8, calc(12.5%));
    gap: 0px;
    border: 1px solid black;
}

.chessBoard .chessSquare {
    width: 10vw;
    height: 10vw;
    max-width: 10vh;
    max-height: 10vh;
    border: 1vh solid transparent;
    color: gray;
    background-color:#76a2a3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.08s ease-in-out;
   
}
.hovered{
    border-color: white !important;
}
.hovered{
    border-color: white !important;
}
.invisible {
    display: none;
}


.chessBoard .lighterBackground{
    background-color: #b6e4b6;
  }

.invisible{
    background-image: none !important;
}

.yellowBackground{
    background-color: yellow !important;
}

.isOver{
    cursor: pointer !important;
}

.ui-draggable-dragging{
    background-color: transparent !important;
    border: none !important;
}

.ui-draggable-active section{
    background-image: none !important;
}

.transparentBackground{
    background-color: transparent !important;
}



.active{
    background-color: red !important;
}
