@tailwind base;
@tailwind components;
@tailwind utilities;



html, body, #root {
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    background-color: rgb(8, 18, 51, 0);
}

#notificationButton{
    width: 0px;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle{
    border-radius: 100%;
    border: 1vmin solid transparent;
    background-color: rgb(0, 0, 0, .2);
    width: calc(30%);
    height: calc(30%);
}

.chessBoard .chessSquare {
    width: 9vmin;
    height: 9vmin;
    max-width: 12.5vmin;
    max-height: 12.5vmin;
    border: 1vmin solid transparent;
    color: gray;
    background-color: #76a2a3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.08s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 
    .number-left{
        position: absolute;
        padding-top: 7vmin;
        padding-right: 8vmin;
        font-size: 1.5vmin;
        font-weight: 900;
        color: black;
        margin: 0.5vmin;
    }

    .number-right{
        position: absolute;
        padding-top: 7vmin;
        padding-left: 8vmin;
        font-size: 1.5vmin;
        font-weight: 900;
        color: black;
        margin: 0.5vmin;
    }

  }

  //when screen is smaller
  @media (max-width: 600px){
    .chessSquare{
        width: 12.5vmin !important;
        height: 12.5vmin !important;
    }
    .glassOverlay{
        width: 100vmin !important;
        height: 100vmin !important;
        border-radius: 0% !important;
    }
    .userNameWidgetHolder{
        width: 100vmin !important;
    }
  }

  .hovered{
    border-color: white !important;
    }

    .checked{
        background-color: #f38686 !important;

        &.lighterBackground{
            background-color: #f59d9d !important;
        }
    }


  .chessBoard{

    max-width: 100%;
    display: grid;
    border-radius: 5%;
    grid-template-columns: repeat(8, calc(12.5%));
    gap: 0px;
    border: 1px solid black;
}

.ScoreNPieces{
    display: flex;
    color:white;
    margin-right: 2vmin;
    align-items: center;

    .score{
        margin-right: 3vmin;
        font-size: 3vmin;
        font-weight: 600;
        color:rgb(0, 0, 0);
    }


    .eatenPiece{
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(./allPieces.svg);
        /* background-size: 60vw; */
        background-size: 600% ;
        background-position-y: 100% ;
        background-repeat: no-repeat;
        width: calc(100% + 2vh);
        height: 100%;
        margin: 0px;
        padding: 0px;
        text-overflow: ellipsis;
        width: 5vmin;
        height: 5vmin;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -1.5vmin;

    }

}



.piece{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./allPieces.svg);
    /* background-size: 60vw; */
    background-size: 600% ;
    background-position-y: 100% ;
    background-repeat: no-repeat;
    width: calc(100% + 2vh);
    height: 100%;
    margin: 0px;
    padding: 0px;
    .circle{
        position: absolute;
        border-color:  rgb(0, 0, 0, .2);
        width: calc(120%);
        height: calc(120%);
        background-color: transparent;
    }
}
.k{
    background-position-x: 0%;
}
.r{
    background-position-x: 80%;
}
.q{
    background-position-x: 20%;
}
.p{
    background-position-x: 100%;
}
.b{
    background-position-x: 40%;
}
.n{
    background-position-x: 60%;
}
.K{
    background-position-x: 0% ;
    background-position-y: 0% !important ;
}
.R{
    background-position-x: 80%;
    background-position-y: 0% !important;
}
.Q{
    background-position-x: 20%;
    background-position-y: 0% !important;
}
.P{
    background-position-x: 100%;
    background-position-y: 0% !important;
}

.B{
    background-position-x: 40%;
    background-position-y: 0% !important;
}

.N{
    background-position-x: 60%;
    background-position-y: 0% !important;
}

.chessBoard .lighterBackground{
    background-color: #baf4f2;
}

.chessInlay{
position: absolute;
justify-content: center;
align-items: center;
width: 9vmin;
height: 36vmin;
max-width: 9vmin;
max-height: 36vmin;
display: flex;
flex-direction: column;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
z-index: 10;

    .chessInlaySquare{
        display: flex;
        width: 9vmin;
        height: 9vmin;
        max-width: 9vmin;
        max-height: 9vmin; 
        background-color: white;
        border: 1vmin solid transparent;
    }
}

.modal-content{
    width: 60vmin !important;
    height: 20vmin !important;
    min-width: 100%;
    min-height: 100%;

    .modal-header{
        background-color: #76a2a3;
    }

    .modal-body, .modal-footer{
        background-color: #91c2c3;
    }
}
.ml-\[1\]{
    margin-left: 9vmin;
}
.ml-\[2\]{
    margin-left: 18vmin;
}
.ml-\[3\]{
    margin-left: 27vmin;
}
.ml-\[4\]{
    margin-left: 36vmin;
}
.ml-\[5\]{
    margin-left: 45vmin;
}
.ml-\[6\]{
    margin-left: 54vmin;
}
.ml-\[7\]{
    margin-left: 63vmin;
}

.notDraggable{
    pointer-events: none;
}

.lastMove{

    background-color: #98cd4e !important;

    &.lighterBackground{
        background-color: #96da5b !important;
    }




}

.glassOverlay{
    position: absolute;
    width: 90vmin;
    height: 90vmin;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.23);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center; 


    .list{
        // margin-left: 10vmin;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        z-index: 500;
        // margin: 1px;
        border: 2px solid black;
        border-bottom: 0px ;
        border-radius: 5px;
        padding-left: 0px !important; 
        .listItem{
            display: inline-flex;
            padding: 1vmin;
            padding-left: 3vmin;
            border-bottom: 2px solid black;
            border-radius: 5px;
            font-weight: 600;
            justify-content: space-around;
            align-items: center ;
            font-size: 5vmin;

            &:hover{
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.205);
            }

            .text{
                margin-left: 2vmin;
                width: 40%;
                min-width: fit-content
            }

        
            button{
                color: rgba(255, 127, 7, 0.592);
                margin-left: 6%;
            }
        }

        #mainUser{
            background-color: rgba(250, 238, 172, 0.451);
            // border-radius: 5px;
            // border: 2px solid black;
            // border-bottom: 0px ;
            // font-weight: 600;
            // justify-content: start;
            // align-items: center;
            // font-size: 5vmin;
            // padding: 1vmin;
            // padding-left: 3vmin;
            // &:hover{
            //     cursor: pointer;
            //     background-color: rgba(255, 127, 7, 0.592);
            // }
        }
    }

  

    
    .submitUsernameButton{

        position: absolute;
        display: flex;
        margin-top: 30vmin;
        width: 40vmin;
        height: 8vmin;
        border-radius: 5px;
        //add a shadow to the button
        box-shadow: 5px 5px 10px rgba(142, 54, 54, 0.66), -5px -5px 10px hsla(0, 75%, 75%, 0.66);

        color: rgba(0, 0, 0, 0.642);
        font-weight: 600;
        //make the font size responsive
        font-size: 5vmin;
        //make letters thicker
        letter-spacing: 0.05em;
        background-color: rgba(234, 89, 89, 0.664);
        font-family: 'Roboto', sans-serif;
        font-size: 5vmin;
        font-weight: 600;
        // color: rgb(255, 255, 255);
        justify-content: center ;
        align-items: center;
        transition: 0.3s;

        &:hover{
            // background-color: rgba(234, 89, 89, 0.964);
            box-shadow: inset 5px 5px 10px rgba(142, 54, 54, 0.66),inset -5px -5px 10px hsla(0, 75%, 75%, 0.66);
            cursor: pointer;
        }

        .arrow{
            margin-left: 10px;
            height: 8vmin;

        }
        


    }

    label{
        position: absolute;
        margin-bottom: 28vmin;
        //make all caps
        text-transform: uppercase;
        //make the font stand out and be nice
        font-family: 'Roboto', sans-serif;
        //change the color
        color: rgba(0, 0, 0, 0.642);
        font-weight: 600;
        //make the font size responsive
        font-size: 5vmin;
        //make letters thicker
        letter-spacing: 0.05em;
        //make font thicker
        

        width: 100;
    }

    .userNameInput{

      
  
       
    

        &:focus-within{
            outline: 2px solid white;
        }


    input{
            margin: none;
            border: none;
            width: 100%;
            height: 100%;
            background-color: transparent;
            line-height: 0;
            margin-left: 2vmin;
            font-family: Arial, sans-serif;;

            &::placeholder {
                color:rgba(0, 0, 0, 0.642);
            }

            &::-webkit-input-placeholder {
                color:rgba(0, 0, 0, 0.642);
            }
            &::-moz-placeholder {
                color:rgba(0, 0, 0, 0.642);
            }
            
            &::-ms-placeholder {
                color:rgba(0, 0, 0, 0.642);
            }

            &:focus{
                outline: none;
            }
    

        
         
    }
        display: flex;
        width: 50vmin;
        align-items: center;
        font-size: 3vmin;
        justify-content: center;
        height: 8vmin;
        border: none;
        border: black 2px solid;
        border-radius: 10px;
        background-color: transparent;
        // padding: 2vmin;
        transition: 0.1s;

        &:hover{
            background-color: rgba(255, 255, 255, 0.205);
            cursor: pointer;
        }
    }


}

section{
    touch-action: none;
}

.bellContainer {
    position: absolute;
    width: 90vmin;
    height: 90vmin;

    .bellIcon{
      margin: 10px;
      padding: 1vmin;
      border-radius: 50%;
      top: 10vmin;
      left: 10vmin;
      z-index: 1000;
    }

    .dropdown{
        padding: 5vmin;
        display: flex;
        //put in column;
        flex-direction: column;
        position: absolute;
        z-index: 1000; 
        display: flex;
        width: 30vmin;
        height: 100%;
        justify-content: start;
        align-items: center;
        
        .dropdown-menu{
            // display: flex;
            cursor: pointer;
            position: relative;
            width: fit-content;
            margin-left: 10%;
            //make it not be outside the screen

        }

        //query for when screen is small
        // @media only screen and (max-width: 600px) {
        //     .dropdown-menu{
        //         margin-left: 60%;

        //     }
        //     .bellIcon{
        //         margin-bottom: 10px;
        //     }
        // }
        // @media only screen and (max-width: 350px) {
        //     .dropdown-menu{
        //         margin-left: 140%;

        //     }
        //     .bellIcon{
        //         margin-bottom: 10px;
        //     }
        // }

        .dropdown-item:active{
            background-color: #d3e8ff !important;
            color: white;
        }

        .notificationText{
            display: inline-flex !important;
            font-family: Arial, sans-serif;
            font-size: 14px;
            color: #333;
            background-color: #f8f8f8; /* Light background color */
            padding: 5px; 
            display: block;
            .username{
                font-weight: bold;
                color: #007bff;
            }
        }

        .notification-text::before {
            content: "🔔"; /* Add an icon or indicator */
            margin-right: 5px;
          }

        .notification-text:hover {
            color: #007bff; /* Change color on hover */
            cursor: pointer;
          }

          //on click
            .notification-text:active {
                background-color: #007bff;
                color: white;
            }

    }
 
      
      

    .bellIcon:hover{
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.205);
      transition: all 0.2s ease-in-out;
    }

}




.canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Push the canvas behind other elements */
  }

  .oponentsCursor{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 3vmin;
  height: 3vmin;
  border-radius: 50%;
  color: red;
  border-color: red;
  border: 2px solid red;
  z-index: 1000000;
}

.catLogo{
    float: right;
    width: 10vmin;
    height: 10vmin;
    margin-right: 3vmin;
    margin-left: 2vmin;
    background-size: cover ;
    border-radius: 50%;
    outline: 1px solid rgba(255, 255, 255, 0.871);
}

.userNameWidgetHolder{
    display: flex;
    align-items: center;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.624);
    justify-content: space-between;
    align-items: center;
    width : 72.1vmin;
    height: 8vmin;
    padding: 0px;
    margin: 0px;
    border: 2px solid #0d58aa;
    border-radius: 10px 10px 0px 0px;

    &.user{
        border-radius: 0px 0px 10px 10px;
    }



    &.user .userName{
        display: flex-column;
        
    }

}

.arrows{
    position: absolute;
    display: flex;
    cursor: pointer;
    color: rgba(5, 101, 255, 0.47);
    height: fit-content;
    border: solid 2px rgba(5, 101, 255, 0.47);
    border-radius: 20px;
    overflow: hidden;

    div{
        border: solid 1px rgba(5, 101, 255, 0.47);
        display: flex;
        align-items: center;
        // justify-content: center;
        transition-duration: .20s;
        height: 45px;
        padding-left : 10px;
        padding-right: 10px;
        // top: 50%;
        padding-left: 20px;
        padding-right: 20px;
        // padding-bottom: 20px;
        background: linear-gradient(to left, #d3e8ff 50%, #7dbafa 50%) right;
        background-size: 200%;
        // background-color: #d3e8ff;
    }

    div:hover{
        color: #1685fc;
        background-position: left;
       

    }

}


  

.userNameWidget{
    display: flex;
    margin: 0px;
    align-items: center;
    justify-content: center;
    padding: 1vmin;
    padding-left: 3vmin;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 3vmin;
    width : fit-content;
    height: 7vmin;
    .userName{
        max-width: 25vmin;
        overflow: hidden;
        text-overflow: ellipsis;
    

    }


    


    .catLogo{
        margin-left: 4vmin;
        width: 5vmin;
        aspect-ratio : 1 / 1 !important;
        height: 5vmin;
    }
}







